body {
    font-family: 'Work Sans', sans-serif;
}

/* nav Styles start */
nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    max-height: 130px;
    margin: 0px auto;

}

.logo-container {
    display: flex;
    gap: 20px;
    align-items: center;

}

.logo-container img {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;

}

.logo-container span {
    background-image: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-container h3 {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;

}

.menus {
    display: flex;
    align-items: center;
}

.menus li {
    list-style: none;
    margin-right: 30px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.menus li>a {
    text-decoration: none;
}

.menus button {
    max-width: 262px;
    max-height: 56px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
    padding: 17px 24px;
}

.youtube-icon {
    max-width: 33.916px;
    max-height: 20px;
    margin-left: 10px;
}

.music-icon {
    max-width: 24px;
    max-height: 20px;
    margin-left: 10px;
}

/* nav Styles start */

/* Banner Styles Start */
.banner-section {}

.banner-container {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    max-height: 5927px;
    background: #FFF;
    margin: 0px auto;
}

.banner-text-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/Group\ 14.png');
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;

}

.banner-text h4 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: normal;
}

.banner-text h2 {
    font-size: 95px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-text p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.banner-btn-1 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 48px;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.banner-btn-2 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
}

.banner-image-container {
    width: 50%;
}

.banner-img img {
    width: 100%;
    height: 100%;
}

/* Section 2 Online Games start */
.section-two {
    margin-top: 120px;
}

.section-two-container {
    text-align: center;
    max-width: 1920px;
    max-height: 5927px;
    background: #FFF;
    margin: 0px auto;
}

.section-two-container h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.section-two-container h2 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.section-two-container p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.online-games-container {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.games {
    max-width: 342px;
    max-height: 400px;
    border-radius: 16px;
    position: relative;
}

.games img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FF42A5;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
    border: 2px solid rgb(248, 87, 87);
    border-radius: 16px;
}

.games:hover .overlay {
    opacity: 1;
}

.video-icon {
    width: 50px;
    height: 50px;
    background-image: url('images/play-button\ 1.svg');
    background-size: cover;

}

.watch-now {
    margin-top: 10px;
}

/* section-three styles start */
.section-three {
    margin-top: 100px;
}

.section-three-container {
    max-width: 1920px;
    max-height: 5927px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
}

.section-three-container>div {
    width: 50%;
}

.section-three-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-three-text {
    max-width: 353px;
}

.section-three-text h3 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;


}

.section-three-text h3>span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.section-three-text p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}

.section-three-image-container {
    display: flex;
    justify-content: flex-end;
}

.section-three-images {
    position: relative;
}

.section-three-main-image img {
    max-width: 630px;
    max-height: 650px;
    border-radius: 8px;

}

.section-three-small-image {
    position: absolute;
    top: 50%;
    right: 65%;
}

.section-three-small-image img {
    max-width: 318.5px;
    max-height: 365.083px;
    border-radius: 8px;
    border: 10px solid #FFF;
}

/* section-four Styles */
.section-four {
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-four-container {
    max-width: 1920px;
    max-height: 427px;
    margin: 0px auto;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 35px;
    justify-content: center;
}

.section-four-game {
    display: flex;
    max-width: 243px;
    max-height: 80px;
    gap: 16px;
    border-radius: 50px;
    background: #FFF;
}

.section-four-game img {
    max-width: 60px;
    max-height: 60px;
}

.section-four-game:hover {
    max-width: 248px;
    max-height: 80px;
    border: 1px solid #FF42A5;
    border-radius: 50px;
    background: #FFF;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-items: center;


}

/* Footer Styles start */
footer {
    background: #0B0223;
}

.footer-conteinar {
    max-width: 1920px;
    max-height: 879px;
    margin: 0px auto;
    padding-top: 120px;
    padding-bottom: 130px;
}

.footer-logo-container {
    display: flex;
    justify-content: center;
}

.footer-logo {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0px auto;
}


.footer-logo img {
    width: 86.041px;
    height: 40px;
}

.footer-logo h3 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
}

.footer-logo span {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-menus {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.footer-menus li {
    margin-right: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.footer-menus li>a {
    text-decoration: none;
    color: #FFF;
}

.footer-icon-container {
    margin-top: 66px;
    margin-bottom: 70px;
}

.footer-icons {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.fa-brands {
    max-width: 40px;
    max-height: 40px;
    color: #FFFFFF;
}

.footer-terms-container {
    display: flex;
    justify-content: center;
}

.footer-terms-menus {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.footer-terms-menus li {
    margin-right: 60px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.footer-terms-menus li>a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
}

.footer-copy-container {
    display: flex;
    justify-content: center;
}

.footer-copy {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;

}