@media screen and (max-width:576px){
     
    .nav-container {
        flex-direction: column;
        background: none;
        box-shadow: none; 
    }
    
    .logo-container {
        display: flex;
        justify-content: center;   
    }

    .menus {
       flex-direction: column;
    }

    .menus li {
      margin-bottom: 15px;
    }
    /* Nav styles End */
    /* Banner Styles start */

    .banner-container {
        flex-direction: column;
        margin-top: 150px;
    }
    .banner-container>div {
        width: 100%;
    }
    
    .banner-img img {
        width: 100%;
     }
   
}