@media screen and (max-width:576px){
     
    .nav-container {
        flex-direction: column;
        background: none;
        box-shadow: none; 
    }
    
    .logo-container {
        display: flex;
        justify-content: center;   
    }

    .menus {
       flex-direction: column;
    }

    .menus li {
      margin-bottom: 15px;
    }
    /* Nav styles End */
    /* Banner Styles start */

    .banner-container {
        flex-direction: column;
        margin-top: 150px;
    }
    .banner-container>div {
        width: 100%;
    }
    .banner-text-container {
        padding-bottom: 50px;

    }
    .banner-text h4 {
        font-size: 35px; 
    }
    
    .banner-text h2 {
        font-size: 60px;
    }
    .banner-img img {
        width: 100%;
     }
   /* Section 2 styles */
.section-two-container>div {
    width: auto;
}
.section-two-container h2 {
    color: #0B0223;
    font-size: 30px;
    font-weight: 700;
}
.section-two-container p {
    font-size: 16px;
}
.online-games-container {

    width: 100%;
    flex-direction: column;
    justify-content: center;

}

.games {
margin: 0px auto;
margin-bottom: 80px;
}
/* Section 3 Styles */

.section-three {
    margin-top: 100px;
}

.section-three-container {
  flex-direction: column;
   
}

.section-three-container>div {
    width: 100%;
}

.section-three-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}



.section-three-image-container {
   flex-direction: column;

}


.section-three-main-image {
  margin: 0px auto;

}

.section-three-main-image img {
    width: 80%;
    margin-left: 20%;

}

.section-three-small-image {
    top: 70%;
    right: 50%;
}
.section-three-small-image img {
    width: 60%;
}
/* Section 4 styles */
.game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 0px;
}


/* Footer section styles */

.footer-menus {
  display: grid;
  grid-template-columns: repeat(3,auto);
  gap: 20px;
  justify-content: center;
  grid-row-start: auto;
}
.footer-menus li {
    margin-right: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.footer-terms-container {
    justify-content: center;
}

.footer-terms-menus {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 20px;
    justify-content: center;
}
.footer-terms-menus li {
    margin-right: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

}

@media screen and (min-width:576px) and (max-width:992px) {
  

     .nav-container {
        flex-direction: column;
        background: none;
        box-shadow: none; 
    }
    .logo-container {
        display: flex;
        justify-content: center;   
    }
    .menus {
        justify-content: center; 
     }
     /* Banner Styles */
     .banner-container {
        flex-direction: column;
        margin-top: 150px;
    }
    .banner-container>div {
        width: 100%;
    }
    .banner-text-container {
        padding-bottom: 30px;

    }
       /* Section 2 styles */
.section-two-container>div {
    width: auto;
}

.online-games-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.games {
margin: 0px auto;
margin-bottom: 80px;
}
/* Section 3 Styles */

.section-three {
    margin-top: 100px;
}

.section-three-container {
  flex-direction: column;
   
}

.section-three-container>div {
    width: 100%;
}

.section-three-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}



.section-three-image-container {
   flex-direction: column;
   justify-content: center;

}


/* .section-three-main-image {
  margin: 0px auto;

} */

.section-three-main-image img {
    width: 80%;
    margin-left: 20%;

}

.section-three-small-image {
    top: 70%;
    right: 60%;
}
.section-three-small-image img {
    width: 60%;
}
/* Section 4 styles */
.game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    grid-row-start: auto;
}
/* Footer styles */
.footer-menus {
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 20px;
    justify-content: center;
    grid-row-start: auto;
  }

  .footer-terms-menus {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 20px;
    justify-content: center;
}

}